# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
media/
*.log

# Virtual environments
venv/
.env/
.env

# IDE
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db

# Migrations (если не хотите игнорить — закомментируйте)
 */migrations/__pycache__/
 */migrations/*.py

# PyCharm
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
