{% extends 'base.html' %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(media/img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">О НАС</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="media/img/about.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="mb-4">
                        <p><span style="color: #FFD600;">VoltTaxi</span> лучшее место для работы</p>
                    </h1>
                    <p class="mb-4">Выбирая нас, вы выбираете лучшие условия для работы. Присоединяйтесь к нашей команде, мы ценим каждого водителя.</p>
                    <div class="row g-4 mb-3 pb-3">
                        {% for item in about_info %}
                            <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex">
                                    <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
                                        <span class="fw-bold text-secondary">{{ item.numbers }}</span>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ item.name }}</h6>
                                        <span>{{ item.description }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <a href="{% url 'contact' %}" class="btn btn-primary py-3 px-5 mt-3">Подать заявку<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">СОТРУДНИКИ</h1>
            </div>
            <div class="scrolling-wrapper" style="overflow-x: auto; white-space: nowrap; padding-bottom: 20px;">
                {% for member in personnel %}
                    <div class="team-item" style="display: inline-block; width: 300px; margin-right: 15px; vertical-align: top; white-space: normal;">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid" src="{{ member.photo.url }}" alt="{{ member.fio }}" style="width: 100%; height: auto;">
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="fw-bold mb-0">{{ member.position }}</h5>
                            <small>{{ member.fio }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}
