{% extends 'base.html' %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(media/img/carousel-bg-4.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">О НАС</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <img class="position-absolute img-fluid w-100 h-100" src="{{ address.photo.url }}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <h1 class="mb-4">
                            <span style="color: #FFD600;">
                            {% if address %}
                                {{ address.name }}
                            {% else %}
                                Название организации
                            {% endif %}
                        </span>
                    </h1>
                    <p class="mb-4">
                        {% if address %}
                            {{ address.slogan }}
                        {% else %}
                            Название лозунга
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-4">
                        {% for item in about_info %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ forloop.counter|floatformat:1|add:"0.1" }}s">
                                <div class="{% if forloop.counter|divisibleby:2 %}bg-light{% endif %} py-4 px-0" style="position:relative; min-height:100px;">
                                    <div style="margin-left:20px;">
                                        <h5>{{ item.name }}</h5>
                                        <p>{{ item.description|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-center w-100">Нет информации.</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="{% url 'contact' %}" class="btn btn-primary py-2 px-5 mt-3">Подать заявку<i class="fa fa-arrow-right ms-3"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- QuestionsAnswers Start -->
    <div class="container-xxl py-8">
        <div class="container">
            <div class="row g-4">
                <div class="text-center">
                    <h1 class="mb-0">ВОПРОСЫ ОТВЕТЫ</h1>
                </div>
                <div class="col-lg-12 col-md-12 col-12 mx-auto">
                    <div class="accordion mb-5" id="questionsAccordion">
                        {% for que_ans in questions_answers %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ forloop.counter }}"
                                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                            aria-controls="collapse{{ forloop.counter }}">
                                        <strong>{{ que_ans.questions }}</strong>
                                    </button>
                                </h2>
                                <div id="collapse{{ forloop.counter }}"
                                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                     aria-labelledby="heading{{ forloop.counter }}"
                                     data-bs-parent="#questionsAccordion">
                                    <div class="accordion-body">
                                        {{ que_ans.answers }}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p class="text-center w-100">Нет информации.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- QuestionsAnswers End -->


{% endblock %}
