{% extends 'base.html' %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(media/img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">ТАКСОПАРК</h1>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Car Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav w-100 nav-pills me-6" id="car-tabs" role="tablist">
                        {% for car in cars %}
                            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0 {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#tab-pane-{{ car.id }}" type="button" role="tab">
                                <i class="fa fa-car fa-2x me-3"></i>
                                <h4 class="m-0">{{ car.car_brand.name }} {{ car.name }}</h4>
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        {% for car in cars %}
                            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-pane-{{ car.id }}" role="tabpanel">
                                <div class="row g-4">
                                    <div class="col-md-6" style="min-height: 350px;">
                                        <div class="position-relative h-100">
                                            <img class="position-absolute img-fluid w-100 h-100"
                                                 src="{{ car.photo.url }}"
                                                 style="object-fit: cover;" alt="{{ car }}">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#carImageModal"
                                               data-img-src="{{ car.photo.url }}">
                                                <img class="position-absolute img-fluid w-100 h-100"
                                                     src="{{ car.photo.url }}"
                                                     style="object-fit: cover; cursor: zoom-in;"
                                                     alt="{{ car }}">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="mb-3">{{ car.car_brand.name }} {{ car.name }}</h3>
                                        <p><i class="fa fa-check text-success me-3"></i>Год: {{ car.year }}</p>
                                        <p><i class="fa fa-check text-success me-3"></i>Запас хода: {{ car.power_reserve }} км.</p>
                                        <p class="mb-4">{{ car.description }}</p>
                                        <a href="{% url 'contact' %}" class="btn btn-primary py-3 px-5 mt-3">Подать заявку<i class="fa fa-arrow-right ms-3"></i></a>
                                        <a href="{% url 'about' %}" class="btn btn-primary py-3 px-5 mt-3">Наши условия<i class="fa fa-arrow-right ms-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Car End -->


    <!-- Modal for enlarged car image Start-->
    <div class="modal fade" id="carImageModal" tabindex="-1" aria-labelledby="carImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-body p-0">
                    <img id="modalCarImage" src="" class="img-fluid rounded-3 shadow" style="width: 100%; height: auto;" alt="Увеличенное фото">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for enlarged car image End -->


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('carImageModal');
            var modalImg = document.getElementById('modalCarImage');
            var carImages = document.querySelectorAll('[data-bs-target="#carImageModal"]');

            carImages.forEach(function (el) {
                el.addEventListener('click', function () {
                    var src = this.getAttribute('data-img-src');
                    modalImg.setAttribute('src', src);
                });
            });
            modal.addEventListener('hidden.bs.modal', function () {
                modalImg.setAttribute('src', '');
            });
        });
    </script>

{% endblock %}